* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: aliceblue;
}

.tudo {
    background-color: #E5EBEB;
    position: absolute;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    text-align: center;
    border: #121212;
    box-shadow: 0px 0px 30px #121212;
}

.resultado {
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
}

span {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 10px;
}

p {
    padding: 10px;
}

input {
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
}

span {
    align-items: center;
    text-align: center;
}

button {
    --hover-shadows: 16px 16px 33px #121212,
                      -16px -16px 33px #303030;
    --accent: fuchsia;
    font-weight: bold;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #212121;
    color: white;
    padding: 1em 3em;
    transition: box-shadow ease-in-out 0.3s,
                background-color ease-in-out 0.1s,
                letter-spacing ease-in-out 0.1s,
                transform ease-in-out 0.1s;

   }
   
   button:hover {
    box-shadow: var(--hover-shadows);
   }
   
   button:active {
    box-shadow: var(--hover-shadows),
                 var(--accent) 0px 0px 30px 5px;
    background-color: var(--accent);
    transform: scale(0.95);
   }
   